*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
color: #ededed;
background: #130526;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #051129;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a{
  display: inline;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(.2s*var(--i));
}

.navbar a:hover{
  color: rgb(22, 222, 237);
  text-shadow: 0 0 5px cyan,
  0 0 25px cyan,0 0 25px cyan,0 0 100px cyan,
  0 0 200px cyan;
}





.home{
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(max2.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content{
  max-width: 600px;
}

.home-content h3{
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3:nth-of-type(2){
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3 span{
  color: #0ef;
  text-shadow: 0 0 5px cyan,
  0 0 25px cyan,0 0 25px cyan,0 0 100px cyan,
  0 0 200px cyan;
}

.home-content h1{
  font-size: 55px;
  font-weight: 600;
  margin: 7px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p{
  font-size: 23px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;

}

.home-sci a{
  display: inline-flex;
  justify-content:center ;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: cyan;
  text-decoration: none;
  transition: .5s;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s*var(--i));
  margin: 30px 15px 30px 0;
}

.home-sci a:hover{
  background-color: #0ef;
  color: #082b19;
  box-shadow: 0 0 30px #0ef;
  transition: 1s;
}

.btn-box{
  display: inline-block;
  padding: 12px 28px ;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #082b19;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef,0 0 25px #0ef;
}

.btn-box:hover{
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan,0 0 25px cyan,0 0 100px cyan,
  0 0 200px cyan;
  transition: 1s;
}

.about{
  padding: 10rem;
  display: grid;
  /* grid-template-columns: repeat(2,1fr); */
  align-items: center;
  gap:1.5rem;

}

/* .about-img img{
  padding-bottom: 20%;
  max-width:630px ;
  height:auto;
  width: 100%;
  border-radius: 8px;
  background-size:contain;
  margin-left: 89px;
  margin-top: 150px;
} */
.about-text{
text-align: center;

}

.about-text h2{
  font-size: 50px;
  text-align: center;
}

.about-text h2 span{
  color: #0ef;

}

.about-text h4{
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;

}

.about-text p{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

#services{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;

}
.sub-title{
  text-align: center;
   font-size: 60px;
   padding-bottom: 70px;

}
.sub-title span{
  color: #0ef;
}
.container{
  padding: 90px;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(295px,1fr));
  grid-gap: 40px;
  margin-top: 50px;

}

.services-list div{
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7,1px 1px 40px #0053b8f7;

}

.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a{
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;

}
.read{
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #082b19;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef,0 0 25px #0ef;
}
 .read:hover{
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan,0 0 25px cyan,0 0 100px cyan,
  0 0 200px cyan;
  transition: 1s;

 }
.services-list div:hover{
  transform: translateY(-10px);
}



.skills1{
  font-size: 30px;
  margin-bottom: 30px;
  /* text-shadow:  0 0 5px cyan,
  0 0 25px cyan,0 0 25px cyan,0 0 100px cyan,
  0 0 200px cyan;
  transition: 1s; */
}



.skills-part{
  display: flex;
  justify-content: space-between;
}



.skills, .professional-skills {
  margin: 50px auto;
  min-width:300px;
}

.skills h2, .professional-skills h2 {
  text-align: center;
}

.skill {
  margin-bottom: 20px;
}

.progress-bar {
  background-color: #ddd;
  height: 20px;
  border-radius: 20px;
  
}

.progress {
  background-color:cyan;
  height: 100%;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  color:#051129;
  animation: progress-animation 1s ease-in-out forwards;
}

.professional-skills ul {
  list-style: none;
  padding: 0;
}

.professional-skills li {
  margin-bottom: 10px;
}

.icon1{
  margin-left: 30px;
  font-size: 25px;

}
.icon2{
  margin-left: 30px;
  font-size: 25px;
 
}
.icon3{
  margin-left: 30px;
  font-size: 25px;
 
}
.icon4{
  margin-left: 30px;
  font-size: 25px;
  
}
.icon5{
  margin-left: 30px;
  font-size: 25px;
 
}


@keyframes progress-animation {
  0% {
    width: 0;
  }
  80% {
    width: 80%;
  }
}

.Contact{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  grid-auto-flow: 3rem;
  padding-left: 30px;
  margin-left: 130px;
  margin-bottom: 2rem;
}

.contect-text h2{
  font-size: 80px;
  line-height: 1;
  text-align: center;

}

.contect-text h2 span{
  color: #0ef;

}

.contect-text h4{
  margin: 15px 0;
  color: rgb(228, 228, 228);
  font-size: 25px;
  font-weight: 600;

}

.contect-text p{
  color: rgb(92, 90, 90);
  font-size:  20px;
  line-height: 30px;
  margin-bottom: 2rem;


}

.contect-list{
  margin-bottom: 3rem;

}

.contect-list li{
  margin-bottom: 10px;
  display: block;


}

.contect-list i{
  display: inline-block;
  color: #0ef;
  font-size: 20px;
  font-size: 20px;
  font-weight: 600;
  transition: all .40s ease;


}

.contect-list li a:hover{
  transform: scale(1.01) translateY(-5px);
  color: #0ef;

}

.contact-icons i{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s*var(--i));

}
.contact-icons i:hover{
  background: #0ef;
  color: #000000;
  box-shadow: 0 0 20px #0ef;


}

.contact-form form{
  position: relative;
}
.contact-form form input,form textarea{
  border: none;
  outline: none;
  width: 90%;
  padding:18px;
  background: #555557;
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;

}

.contact-form textarea{
  resize: none;
  height: 220px;

}

.contact-form form .send{
  display: inline-block;
  padding: 14px 60px;
  background: #0ef;
  border-radius: 40px;
  font-size: 18px;
  color: #082b19;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef,0 0 25px #0ef;
}

.contact-form form .send:hover{
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan,0 0 25px cyan,0 0 100px cyan,
  0 0 200px cyan;
  transition: 1s;
}

.last-text p{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: rgb(7, 85, 91);
  font-weight: 300;
  margin-top: 70px;

}


.top{
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;

}

.top i{
  color: black;
  background: #0ef;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;

}

@keyframes slideRight {
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}






















