* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  height: 400px;
  width: 500px;
  background-color: aquamarine;
  border-radius: 10px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

input {
  height: 40px;
  width: 60%;
  outline: none;
  border: none;
  margin-inline: 100px;
  margin-top: 100px;
  padding: 15px;
  border-radius:4px ;
  color: black;
  font-size: 16px;
  font-weight: 500;
  -webkit-border-radius:4px ;
  -moz-border-radius:4px ;
  -ms-border-radius:4px ;
  -o-border-radius:4px ;
}

.text{
    margin-left: 107px;
    margin-top: 3px;
}
